# ignore packer compiled file
neovim/.config/nvim/plugin/

# Do not ignore any file with .gpg extension
!*.gpg

# Prevent accidental commit ggp keys
*.sec
*.pub

# ignore re-generable files
**/.DS_Store
**.log
.luarc.json
